@use "couleurs";

.s_congres {
    background-color: var(--bleu-calypso);
}

.s_infolettre {
    background-color: var(--gris-souris);
}

.s_environnement {
    background-color: var(--pomme-verte);
}

.s_comite {
    background-color: var(--bleu-calypso);
}